<tr>
  <td><%= image_tag("ilohv/file_types/#{file.extension}.png") %></td>
  <td><%= link_to file.name, ilohv_path(file.full_path) %></td>
  <td><%= file.content_type %></td>
  <td><%= number_to_human_size(file.size) %></td>
  <td>
    <div class="btn-group btn-group-xs">
      <%= link_to 'Edit', edit_file_path(file), id: "edit-file-#{file.id}", class: 'btn btn-default' %>
      <%= link_to 'Delete', file_path(file), method: :delete, data: { confirm: 'Really delete?' }, id: "delete-file-#{file.id}", class: 'btn btn-danger' %>
    </div>
  </td>
</tr>
