<%= form_for(@file, as: :file, html: { class: 'form-horizontal' }) do |f| %>
  <% if @file.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@file.errors.count, "error") %> prohibited this file from being saved:</h2>

      <ul>
      <% @file.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= hidden_field_tag :parent_id, @file.parent_id %>
    <%= f.label :parent_id, 'Directory', class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :parent_id, value: @file.parent.try(:full_path), class: 'form-control', disabled: true %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :name, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :file, class: 'col-lg-2 control-label' %>
    <div class="col-lg-10">
      <%- if @file.file? -%>
        Current file: <%= File.basename(@file.file.path) %>
      <%- end -%>
      <%= f.hidden_field :file_cache %>
      <%= f.file_field :file, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit id: 'save-button', class: 'btn btn-primary' %> or
      <%= link_to 'cancel', @file.parent ? ilohv_path(@file.parent.path) : root_path %>
    </div>
  </div>
<% end %>
